
body {margin:0;
padding:0;}

.flag {
  margin: auto;
  height: 150px;
  width: 250px;
  overflow: hidden;
  border-radius: 5px;
}
.color {
  display: block;
  width: 100%;
  height: 33.3%;
}
.black {
  background-color: #000000;
}
.red {
  background-color: #FF0000;
}
.yellow{
  background-color: #FFCC00;
}
